* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1b75;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 10px 0 40px;
  color: #000;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  background-color: #d8d7ff;
  padding: 40px 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #128b6d;
  color: #c2c2c2;
  font-size: 20px;
}

.box.fizz {
  background-color: #c6e919;
  color: #1c1c1c;
}

.box.buzz {
  background-color: #1c1b75;
  color: #e9e9e9;
}

.box.fizzbuzz {
  background-color: #6ee208;
  color: #1c1c1c;
}